<div class="content">
    <section>
      <% if notice %>
        <div id = "error_explanation">
          <h2><%= flash[:notice] if flash[:notice]  %></h2>
        </div>
      <% end %>

        <% if session[:current_user] %>
          <%= link_to 'Odjava', logout_sessions_path, class: 'add-button' %>
        <% else %>
          <%= form_for @librarian, url: sessions_path do |f| %>
            <div class = "field">
              <%= f.label 'Uporabniško ime' %>
              <%= f.text_field :username %>
            </div>

            <div class = "field">
              <%= f.label 'Geslo' %>
              <%= f.password_field :password %>
            </div>

            <div>
              <%= f.submit 'Prijava' %>
            </div>
          <% end %>
        <% end %>
    </section>
</div>