<p id="notice"><%= notice %></p>

<h1>Avtorji</h1>

<table>
  <thead>
    <tr>
      <th>Ime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.name %></td>
        <td><%= link_to 'Prikaži', author %></td>
        <td><%= link_to 'Uredi', edit_author_path(author) %></td>
        <td><%= link_to 'Izbriši', author, method: :delete, data: { confirm: 'Ste prepričani, da želite izbrisati avtorja?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj avtorja', new_author_path %>
