<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2>Knjige ni bilo mogoče shraniti.</h2>

      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :internal_number %>
    <%= form.number_field :internal_number %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :author_name %>
    <%= form.text_field :author_name, value: @raw_author_name %>
  </div>

  <div class="field">
    <%= form.label :genre %>
    <%= form.collection_select :genre_id, Genre.order(:name), :id, :name, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :is_borrowed %>
    <%= form.check_box :is_borrowed %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
