<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<p>
  <strong>Interna številka:</strong>
  <%= @book.internal_number %>
</p>

<p>
  <strong>Naslov:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Avtor:</strong>
  <%= @book.author.name %>
</p>

<p>
  <strong>Žanr:</strong>
  <%= @book.genre.name if @book.genre %>
</p>

<p>
  <strong>Izposojena:</strong>
  <%= @book.is_borrowed ? 'Da' : 'Ne' %>
</p>

<%= link_to 'Uredi', edit_book_path(@book), class: 'add-button' %>
<%= link_to 'Nazaj', books_path, class: 'add-button' %>
