<!DOCTYPE html>
<html>
  <head>
    <title>Knjigored</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon-book.ico') %>
  </head>

  <body>
    <div class="header">
      <div class="header__section">
        <%= link_to 'Knjigored', books_path, class: 'header__button header__button--main' %>
      </div>

      <div class="header__section header__section--right">
        <% if session[:current_user] %>
          <%= link_to 'Dodaj knjigo', new_book_path, class: 'header__button' %>
          <%= link_to 'Domov', books_path, class: 'header__button' %>
          <%= link_to 'Odjava', logout_sessions_path, class: 'header__button' %>
        <% else %>
          <%= link_to 'Prijava', '/sessions/new', class: 'header__button' %>
        <% end %>
      </div>
    </div>

    <div class="main-wrapper">
      <%= yield %>
    </div>
  </body>
</html>

